spring.application.name=SpringBoot-AI


#----- openai_config -----


#pip pointing the exact model
#spring.ai.openai.chat.options.model = gpt-5.4
#spring.ai.openai.chat.model = gpt-5.4

#----- ollama -----
#spring.ai.model.chat=ollama
spring.ai.ollama.chat.model=mistral:latest
